### 1. Importar librerias

In [44]:
import sys
import os

In [45]:
sys.path.append(os.path.abspath(".."))

In [46]:
import pandas as pd
from src.data_processing import load_data

### 2. Cargar dataframe limpio

In [ ]:
# 1. Crear variable para ruta archivo
input_path = "../data/interim/df_master_clean.csv"


# 2. Cargar el dataframe limpio y convertir columnas en tipo de datos datetime
df_master_clean = pd.read_csv(input_path, 
                        parse_dates=['order_purchase_timestamp', 
                                     'order_approved_at', 
                                     'order_delivered_carrier_date',
                                     'order_delivered_customer_date',
                                     'order_estimated_delivery_date',
                                     'shipping_limit_date',
                                     'review_creation_date',
                                     'review_answer_timestamp'])

df_master_clean.info()

C:\Users\william\AppData\Local\Temp\ipykernel_22084\2744226859.py:6: DtypeWarning: Columns (32,33,34,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df_master_clean = pd.read_csv(input_path,

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119137 entries, 0 to 119136
Data columns (total 48 columns):
 #   Column                              Non-Null Count   Dtype
---  ------                              --------------   -----
 0   order_id                            119137 non-null  object
 1   customer_id                         119137 non-null  object
 2   order_status                        119137 non-null  object
 3   order_purchase_timestamp            119137 non-null  datetime64[ns]
 4   order_approved_at                   118960 non-null  datetime64[ns]
 5   order_delivered_carrier_date        117051 non-null  datetime64[ns]
 6   order_delivered_customer_date       115718 non-null  datetime64[ns]
 7   order_estimated_delivery_date       119137 non-null  datetime64[ns]
 8   order_item_id                       118304 non-null  float64
 9   product_id                          118304 non-null  object
 10  seller_id                           118304 non-null  object
 11  shipping_limit_date                 118304 non-null  datetime64[ns]
 12  price                               118304 non-null  float64
 13  freight_value                       118304 non-null  float64
 14  payment_sequential                  119131 non-null  float64
 15  payment_type                        119131 non-null  object
 16  payment_installments                119131 non-null  float64
 17  payment_value                       119131 non-null  float64
 18  customer_unique_id                  119137 non-null  object
 19  customer_zip_code_prefix            119137 non-null  int64
 20  customer_city                       119137 non-null  object
 21  customer_state                      119137 non-null  object
 22  review_id                           118140 non-null  object
 23  review_score                        118140 non-null  float64
 24  review_comment_title                118140 non-null  object
 25  review_comment_message              118140 non-null  object
 26  review_creation_date                118140 non-null  object
 27  review_answer_timestamp             118140 non-null  datetime64[ns]
 28  product_category_name               118304 non-null  object
 29  product_name_lenght                 118304 non-null  object
 30  product_description_lenght          118304 non-null  object
 31  product_photos_qty                  118304 non-null  object
 32  product_weight_g                    118304 non-null  object
 33  product_length_cm                   118304 non-null  object
 34  product_height_cm                   118304 non-null  object
 35  product_width_cm                    118304 non-null  object
 36  seller_zip_code_prefix              118304 non-null  float64
 37  seller_city                         118304 non-null  object
 38  seller_state                        118304 non-null  object
 39  geolocation_lat                     118815 non-null  float64
 40  geolocation_lng                     118815 non-null  float64
 41  geolocation_city                    118815 non-null  object
 42  geolocation_state                   118815 non-null  object
 43  geolocation_zip_code_prefix_vendor  118039 non-null  float64
 44  geolocation_lat_vendor              118039 non-null  float64
 45  geolocation_lng_vendor              118039 non-null  float64
 46  geolocation_city_vendor             118039 non-null  object
 47  geolocation_state_vendor            118039 non-null  object
dtypes: datetime64[ns](7), float64(13), int64(1), object(27)
memory usage: 43.6+ MB

### 3. Analisis exploratorio EDA

In [63]:
# Identificar la fecha del ultimo pedido registrado en el DataSet,
# fecha base para determinar que tan antiguo es el comportamiento de cada cliente.

# 1. Hallar la fecha maxima(el hoy del dataset)
fecha_referencia = df_master_clean['order_purchase_timestamp'].max()

# 2. Mostrar la fecha de referencia.
print(f"La fecha de referencia (Punto Cero) es: {fecha_referencia}")

# 3.Ver el rango total de tiempo
fecha_minima = df_master_clean['order_purchase_timestamp'].min()
print(f"El dataset cubre desde {fecha_minima} hasta {fecha_referencia}")

La fecha de referencia (Punto Cero) es: 2018-10-17 17:30:18
El dataset cubre desde 2016-09-04 21:15:19 hasta 2018-10-17 17:30:18

In [66]:
# Crear una tabla temporal de clientes unicos con la ultima fecha en que realizo una compra.
df_clientes = df_master_clean.groupby('customer_unique_id')['order_purchase_timestamp'].max().reset_index()

# Renombrar la columna para que sea m√°s clara
df_clientes = df_clientes.rename(columns={'order_purchase_timestamp': 'ultima_compra'})

# Ver el resultado
print(f"Ahora tienes {df_clientes.shape[0]} clientes unicos.")
df_clientes.head()

Ahora tienes 96096 clientes unicos.

                 customer_unique_id       ultima_compra
0  0000366f3b9a7992bf8c76cfdf3221e2 2018-05-10 10:56:27
1  0000b849f77a49e4a4ce2b2a4ca5be3f 2018-05-07 11:11:27
2  0000f46a3911fa3c0805444483337064 2017-03-10 21:05:03
3  0000f6ccb0745a6a4b88665a16c9f078 2017-10-12 20:29:41
4  0004aac84e0df4da2b147fca70cf8255 2017-11-14 19:45:42